/* Programing And Design: { Ali Ayed } */
*{
    box-sizing: border-box;
    margin:0px;
}
body{
    background-image: url('../imgs/img_one.jpg');
    background-size: cover;
}
::selection{
    background-color: whitesmoke;
}
h1{
    text-align: center;
    font-size: 6rem;
    color:transparent;
    -webkit-text-stroke: 0.1rem rgb(255, 0, 0);
    margin: 1rem 0rem;
}
.buttons{
    display:flex;
    flex-direction: column;
    align-items:center;
    position: absolute;
    top:33%;
    width:100%;
}
button{
    font-size: 2.5rem;
    width:28rem;
    margin:0.2rem 0rem;
    border:0.2rem solid gray;
    border-radius: 0.8rem;
    transition: .5s ease-in;
    color:gray;
}
button:hover{
    border-color: green;
    color:green;
    background-image: linear-gradient(to left,green,white);
}
p{
    color:white;
    position: absolute;
    top:80%;
    text-align: center;
    width:100%;
    font-size: 1.5rem;
    background:black;
}
h4{
    color:rgb(255, 255, 255);
    position: absolute;
    bottom:5%;
    left:41%;
}
span:first-of-type{
    color:rgba(0, 238, 255, 0.774)
}
span:last-of-type{
    color:rgb(0, 0, 129)
}
span:last-of-type:hover{
    cursor:move;
}
img{
    width:6rem;
    position: absolute;
    top:4%;
}
#tb{
    left:8%;
}
@media only screen and (max-width: 1085px) {
    *{
        font-size:20px
    }
}
@media only screen and (max-width: 900px) {
    *{
        font-size:15px
    }
}
@media only screen and (max-width: 800px) {
    *{
        font-size:13px
    }
}
@media only screen and (max-width: 600px) {
    *{
        font-size:7px
    }
}
@media only screen and (max-width: 500px) {
    *{
        font-size:5px
    }
}